# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

Canon_Files/
GEM_FILES/
scripts/top_down_sorter.py
scripts/populate_categories.py
scripts/hierarchy_sorter.py
scripts/consolidate_files.py